<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Buy page</title>
      <link rel="stylesheet" href="/stylesheets/payment.css">
   </head>
   <body>
  <%- include('header') %>
      <div class="page resolution-center-page L">
      <!-- <a href="">Go Back</a> -->
      <h1 class="title">Scan to pay with any UPI app</h1>
      <div>
         <div class="showBody">
            <div>
               <img src="<%= QrCode %>"`` alt="UPI QR" height="200px" class="qr">
            </div>
            <div class="right">
               <p>User ID: <%= userID %></p>
               <p>Transaction ID: <%= trId %></p>
               <p>Product Name: <%= plan.toUpperCase() %></p>
               <p>Amount: <%= amount %> Rs</p>
               <div class="buttons">
                  <button class="btn btnGreen"  onclick='location.href="<%= moneyUrl %>"' type="button">Pay Now</button>
                  <button class="btn btnGrey"  onclick="location.href='/cancelPayment'" type="button">Cancel</button>
               </div>
            </div>
            </section>
      </div>
   </body>
</html>